body {
    background-color: #2f3033;
    color: #e6e9ed;
}
.container {
    width: 100%;
}
a {
    color: #00c698;
    text-decoration: none;
}
a:focus, a:hover {
    color: #3d9983;
    text-decoration: underline;
}
.disabled {
    color: #555960;
}
hr {
    border-top: 2px solid #3b3d40;
}
.mconn-logo {
    height: 28px;
    margin-top: -4px;
}
/* main navigation */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #222;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    border-bottom: 3px solid #00c698;
    background-color: #28292b;
    color: #fff;
    height: 50px;
    margin: 0px 1px 0px 1px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    font-style: bold;
}
.navbar-default .navbar-toggle {
    border-color: #222;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #222;
}
.navbar-static-top {
    margin-bottom: 19px;
    background-color: #28292b;
}
.navbar-static-top {
    border-width: 0 0 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #84868c;
}
/* module navigation */
.navbar-module {
    border-bottom: 1px solid #222;
    width: 100%;
    color: #fff;
    margin: -20px 1px 20px 1px;
}
.navbar-module>.active>a, .navbar-module>.active>a:focus, .navbar-module>.active>a:hover {
    border-bottom: 2px solid #00c698;
    color: #fff;
}
.navbar-module>li>a {
    color: #84868c;
    background-color: #2f3033;
}
.navbar-module>li>a:focus, .navbar-module>li>a:hover {
    color: #fff;
    background-color: #2f3033;
}
/* main navigation jobqueue badge */
.badge {
    position: absolute;
    top: 5px;
    right: 1px;
    font-size: .7em;
    color: #222;
    background: #00c698;
    min-width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    padding: 0 2px;
}
/* buttons */
.btn {
    padding: 4px 12px;
}
/* modal */
.close {
    font-weight: 300;
    color: #e7f3f7;
    text-shadow: 0 0px 0 #222;
    filter: alpha(opacity=100);
    opacity: 1;
}
.close:hover {
    color: #fff;
    text-decoration: none;
}
.modal-content {
    background-color: #2f3033;
}
.modal-header {
    border-bottom: 0px;
}
/* modal about */
dt {
    font-weight: 600;
    color: #84868c;
}
.dl-horizontal dt {
    width: 180px;
}
.dl-horizontal dd {
    margin-left: 200px;
}
/* tables */
.table>thead>tr>th {
	vertical-align: middle;
	border-bottom: 2px solid #3b3d40;
	font-weight: 700;
    color: #555960;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #3b3d40;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	background-color: #353639;
}
/* labels */
.label {
    display: inline;
    padding: 0.2em 0.6em 0.2em;
    font-size: 90%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    margin: 1px 0px 1px 5px;
}
.label-enqueued {
    color: #7b8088;
    background-color: #3b3d40;
    border: #3b3d40;
    border-width: 1px;
}
.label-finished {
    color: #2f3033;
    background-color: #00caa0;
    border: #00caa0;
    border-width: 1px;
}
.label-started {
    color: #2f3033;
    background-color: #f6f58c;
    border: #f6f58c;
    border-width: 1px;
}
.label-failed {
    color: #2f3033;
    background-color: #f76565;
    border: #f76565;
    border-width: 1px;
}
.label-nopreset {
    color: #7b8088;
    background-color: #3b3d40;
    border: #00caa0;
    border-width: 1px;
}
