.row
    .col-xs-12.col-sm-12
        .bs-table
            table.table.table-hovern
                thead
                    tr
                        th App ID
                        th(style='width:35%;') Task ID
                        th Task Status
                        th(style='width:25%;') Module State
                        th.text-right Seniority
                tbody(class="ng-cloak")
                    tr(ng-repeat="task in tasks")
                        td {{task.data.appId}}
                        td {{task.data.taskId}}
                        td {{task.data.taskStatus}}
                        td
                            div(ng-repeat="state in task.moduleState")
                                a(href="/modules/{{state.name}}/queue"): span.label.label-finished(ng-if="state.state=='finished'") {{state.name}}
                                a(href="/modules/{{state.name}}/queue"): span.label.label-idle(ng-if="state.state=='idle'") {{state.name}}
                                a(href="/modules/{{state.name}}/queue"): span.label.label-failed(ng-if="state.state=='failed'") {{state.name}}
                                a(href="/modules/{{state.name}}/queue"): span.label.label-started(ng-if="state.state=='started'") {{state.name}}
                                a(href="/modules/{{state.name}}/queue"): span.label.label-nopreset(ng-if="state.state=='nopreset'") {{state.name}}
                        td.text-right {{task.data.timestamp | date:'yyyy-MM-dd, HH:mm:ss'}}
